.cover__subtitle {
    position: relative;
    padding-top: 32px;
    color: white;
    max-width: 360px;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        margin: 0 auto;
        padding-top: 16px;
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}