.lead__caption {
    min-width: 158px;
    margin-top: 8px;
    margin-bottom: 0;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
        margin-right: 586px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
        margin-right: 146px;
        white-space: nowrap;
    }
}