.place {
    width: 100%;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        column-gap: 32px;
        grid-template-columns: 440px 456px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 352px;
        margin-bottom: 73px;
        column-gap: 28px;
    }

    .place:first-child {
        grid-template-rows: 92px auto;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 320px;
        row-gap: 0;
        margin-bottom: 50px;
    }

    .place:first-child {
        grid-template-rows: auto;
    }
}
